
@font-face {
  font-family: 'stylee';
  src: url('./Burger\ Nation.otf') format('truetype');
}






nav {
    display: flex;
    justify-content: space-between;
    background: radial-gradient(circle, rgb(0, 0, 0) 30%, rgb(0, 0, 0) 88%);
    opacity: 1;
    opacity: 1;
    filter: alpha(opacity=80);
    box-shadow: 0 0px 15px rgba(57, 10, 10, 0.06);
    border-radius: 25px;
    width: 120vw;
    position: relative; /* or absolute, depending on your layout needs */
     /* move the element 20 pixels down */
  right: 50px;
  
  }
  
  #navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
  }
  
  #navbar li {
    list-style: none;
    display: inline; /* Set to inline or inline-block */
    margin-left: 300px;

  }
  
  #navbar li a {
    cursor: pointer;
    font-family: "stylee";
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    color: #ffffff;
     margin-top: 100px;
    transition: 0.3s ease-in-out;
  }
  
  #navbar li a:hover,
  #navbar li a.active {
    
    color: #ff9900;
  }
  .logo{
    width: 100px;
    height: 90px;
    margin-left: 120px;
    margin-bottom: -30px;
  }
  

  